<h1 style="text-align: center">SVG Polygon Utility</h1>
&nbsp;&nbsp;
<button type="button" class="btn btn-primary"
    onClick="window.location.href='https://mingyaoliu.github.io/SVG-Polygon-Util'">Refresh This
    Page</button>&nbsp;&nbsp;
<button type="button" class="btn btn-secondary"
    onClick="window.location.href='https://github.com/MingyaoLiu/SVG-Polygon-Util'">Contribute on Github</button>

<div class="container">

    <div class="row">
        <div *ngFor="let options of polyObjArr" style="padding: 10px">
            <hr />
            <label>{{polyObj[options].label}}:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj[options].value" type="{{polyObj[options].inputType}}"
                placeholder="{{polyObj[options].label}}" (ngModelChange)="onChange($event)" />
        </div>
    </div>

    <!-- 
    <div class="row">
        <div class="col-xs" style="padding: 10px">
            <hr />
            <label>Canvas Width:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.canvasWidth" placeholder="Canvas Width" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Canvas Height:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.canvasHeight" placeholder="Canvas Height" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Edge Count:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.edgeCount" placeholder="Edge Count" (ngModelChange)="onChange($event)" />
        </div>
        <div class="col-xs" style="padding: 10px">
            <hr />
            <label>Canvas Color:&nbsp;</label>
            <br />
            <input type="color" [(ngModel)]="polyObj.canvasColor" placeholder="Canvas Color"
                (ngModelChange)="onChange($event)" />
            <hr />
            <label>Fill Color:&nbsp;</label>
            <br />
            <input type="color" [(ngModel)]="polyObj.fillColor" placeholder="Poly Fill Color"
                (ngModelChange)="onChange($event)" />
            <hr />
            <label>Stroke Color:&nbsp;</label>
            <br />
            <input type="color" [(ngModel)]="polyObj.strokeColor" placeholder="Poly Stroke Color"
                (ngModelChange)="onChange($event)" />
        </div>

        <div class="col-xs" style="padding: 10px">
            <hr />
            <label>Width:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.width" placeholder="Width" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Height:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.height" placeholder="Height" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Rotation Degree:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.rotationDeg" placeholder="Rotation Deg" (ngModelChange)="onChange($event)" />
        </div>
        <div class="col-xs" style="padding: 10px">
            <hr />
            <label>Stroke Width:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.strokeWidth" placeholder="Stroke Size" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Infinite Rotate:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.rotate" type="checkbox" (ngModelChange)="onChange($event)" />
            <hr />
            <label>Fit In Canvas:&nbsp;</label>
            <br />
            <input [(ngModel)]="polyObj.fitInAll" type="checkbox" (ngModelChange)="onChange($event)" />
        </div>
    </div> -->
</div>


<hr />

<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
    [attr.viewBox]="'0 0, ' + polyObj.canvasWidth.value + ' ' + polyObj.canvasHeight.value">

    <polygon [attr.points]="rectPath" [attr.fill]="polyObj.canvasColor.value" />

    <polygon [ngClass]="{'svgTurn': polyObj.rotate.value === true}" [style.transform-origin]="getTransformOrigin()"
        [attr.fill]="polyObj.fillColor.value" [attr.points]="generatedPoints"
        [attr.stroke-width]="polyObj.strokeWidth.value" [attr.stroke]="polyObj.strokeColor.value" />

</svg>
<hr />
<div>
    &lt;svg viewBox=&quot;0 0, {{polyObj.canvasWidth}} {{polyObj.canvasHeight}}&quot;&gt; &lt;polygon
    points=&quot;{{ rectPath }}&quot; fill=&quot;black&quot;
    /&gt;
    &lt;polygon fill=&quot;red&quot; points=&quot;{{ generatedPoints }}&quot; /&gt; &lt;/svg&gt;
</div>
