
.anim1 > circle {
    transform: scale(1);
    transform-origin: 200px 100px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.anim1 > polygon {
    transform: scale(1);
    transform-origin: 200px 100px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.dot0-0 {
    animation-name: zoomInOut;
    @keyframes zoomInOut {
        0% {
            transform: scaleY(1.1) scaleX(1.1);
            opacity: 0;
        }
        5% {
            transform: scaleY(1.2) scaleX(1.2);
        }
        10% {
            transform: scaleY(1) scaleX(1);
            opacity: 1;
        }
        
        34% {
            transform: scale(1);
        }
        39% {
            transform: scale(0.88);
        }
        44% {
            transform: scale(0.76);
        }
        40% {
            
        }
        50% {

        }
        60% {
            
        }
        70% {

        }
        80% {
            
        }
        59% {
            transform: scale(0.76);
        }
        64% {
            transform: scale(0.62);
        }
        69% {
            transform: scale(0.54);
        }
        90% {

        }
        100% {
            
            transform: scale(0.54);
        }
    }
}



.dot1-1 {
    animation-name: dot11;
    transform: rotate(0deg);
    opacity: 0;
    @keyframes dot11 {
        20% {
            opacity: 0;
        }
        25% {
            transform: rotate(0deg) scale(1);
            opacity: 1;
        }
        29.5% {
            transform: rotate(-180deg) scale(1);
        }
        34% {
            transform: rotate(-360deg) scale(1);
        }
        39% {
            transform: rotate(-360deg) scale(0.88);
        }
        44% {
            transform: rotate(-360deg) scale(0.76);
        }
        60% {
            
        }
        59% {
            transform: rotate(-360deg) scale(0.76);
        }
        64% {
            transform: rotate(-360deg) scale(0.62);
        }
        69% {
            transform: rotate(-360deg) scale(0.54);
        }
        83% {
            transform: rotate(-360deg) scale(0.54);
        }
        85% {
            transform: rotate(-360deg) scale(0.54);
        }
        95% {
            transform: rotate(-100deg) scale(0.54);
        }

        100% {
            transform: rotate(-100deg) scale(0.54);
            opacity: 1;
        }
    }
}

.circle1-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform: rotateZ(90deg) rotateY(180deg) scale(1);
    animation-name: circle11;
    
    @keyframes circle11 {
        0% {
        transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }

        25% {
            stroke-dashoffset: 1000;

        }
        34% {
            transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }
        35% {
            stroke-dashoffset: 500;
            
        }
        39% {
            transform: rotateZ(90deg) rotateY(180deg) scale(0.88);
        }
        45.5% {
            stroke-dashoffset: 0;

        }
        44% {
            transform: rotateZ(90deg) rotateY(180deg) scale(0.76);
        }

        59% {
            transform: rotateZ(90deg) rotateY(180deg) scale(0.76);
        }
        64% {
            transform: rotateZ(90deg) rotateY(180deg) scale(0.62);
        }
        69% {
            transform: rotateZ(90deg) rotateY(180deg) scale(0.54);
        }
        
        80% {
            
        }
        90% {

        }
        100% {

            transform: rotateZ(90deg) rotateY(180deg) scale(0.54);
            stroke-dashoffset: 0;
        }
    }
}
.poly1-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation-name: poly11;

    @keyframes poly11 {
        34% {
            stroke-dashoffset: 1000;
            transform: scale(1);
        }
        39% {
            transform: scale(0.88);
        }
        44% {
            
            stroke-dashoffset: 500;
            transform: scale(0.76);
        }
        54% {
            
            stroke-dashoffset: 0;
        }
        60% {
            
        }

        59% {
            transform: scale(0.76);
        }
        64% {
            transform: scale(0.62);
        }
        69% {
            transform: scale(0.54);
        }
        83% {
            opacity: 1
        }
        90% {
            opacity: 0

        }
        100% {
            transform: scale(0.54);
            stroke-dashoffset: 0;
            opacity: 0
        }
    }
}




.dot2-1 {
    animation-name: dot21;
    transform: rotate(0deg) scale(1);
    opacity: 0;
    @keyframes dot21 {
        0% {
            
        }

        44% {
            opacity: 0;
        }
        49% {
            transform: rotate(0deg) scale(1);
            opacity: 1;
        }
        53.5% {
            transform: rotate(-180deg) scale(1);
        }
        58% {
            transform: rotate(-360deg) scale(1);
        }


        59% {
            transform: rotate(-360deg) scale(1);
        }
        64% {
            transform: rotate(-360deg) scale(0.8);
        }
        69% {
            transform: rotate(-360deg) scale(0.7);
        }

        83% {
            transform: rotate(-360deg) scale(0.7);
        }
        85% {
            transform: rotate(-360deg) scale(0.7);
        }
        95% {
            transform: rotate(-150deg) scale(0.7);
        }


        100% {
            transform: rotate(-150deg) scale(0.7);
            opacity: 1;
        }
    }
}
.circle2-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform: rotateZ(90deg) rotateY(180deg) scale(1);
    animation-name: circle21;
    
    @keyframes circle21 {
        0% {
        transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }

        25% {
        }
        34% {
            transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }
        35% {
            
        }
        44% {
        }
        45% {

        }
        49% {
            
            stroke-dashoffset: 1000;
        }
        58% {

            stroke-dashoffset: 500;
        }
        67.5% {
            stroke-dashoffset: 0;
            
        }
        59% {
            transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }
        64% {
            
            transform: rotateZ(90deg) rotateY(180deg) scale(0.8);
        }
        69% {

            transform: rotateZ(90deg) rotateY(180deg) scale(0.7);
        }
        90% {

        }
        100% {

            transform: rotateZ(90deg) rotateY(180deg) scale(0.7);
            stroke-dashoffset: 0;
        }
    }
}
.poly2-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation-name: poly21;

    @keyframes poly21 {


        58% {
            
            stroke-dashoffset: 1000;
        }
        68% {
            
            stroke-dashoffset: 500;
        }
        78% {
            
            stroke-dashoffset: 0;
        }


        59% {
            transform: scale(1);
        }
        64% {
            transform: scale(0.8);
        }
        69% {
            transform: scale(0.7);
        }
        60% {
            
        }
        70% {

        }
        83% {
            opacity: 1
        }
        90% {
            opacity: 0

        }
        100% {
            transform: scale(0.7);
            stroke-dashoffset: 0;
            opacity: 0
        }


    }
}




.dot3-1 {
    animation-name: dot31;
    transform: rotate(0deg) scale(1);
    opacity: 0;
    @keyframes dot31 {
        0% {
            
        }

        69% {
            opacity: 0;
        }
        74% {
            transform: rotate(0deg) scale(1);
            opacity: 1;
        }
        78.5% {
            transform: rotate(-180deg) scale(1);
        }
        83% {
            transform: rotate(-360deg) scale(1);
        }

        85% {
            
            transform: rotate(-360deg) scale(1);
        }
        95% {
            transform: rotate(-200deg) scale(1);
        }

        60% {
            
        }
        70% {

        }
        80% {
            
        }
        90% {

        }
        100% {
            transform: rotate(-200deg) scale(1);
            opacity: 1;
        }
    }
}
.circle3-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform: rotateZ(90deg) rotateY(180deg) scale(1);
    animation-name: circle31;
    
    @keyframes circle31 {
        0% {
        transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }

        25% {
        }
        34% {
            transform: rotateZ(90deg) rotateY(180deg) scale(1);
        }
        35% {
            
        }
        44% {
        }
        45% {

        }
        74% {
            
            stroke-dashoffset: 1000;
        }
        84% {

            stroke-dashoffset: 500;
        }
        94% {
            stroke-dashoffset: 0;
            
        }
        90% {

        }
        100% {

            transform: rotateZ(90deg) rotateY(180deg) scale(1);
            stroke-dashoffset: 0;
        }
    }
}