&nbsp;&nbsp;
<button type="button" class="btn btn-warning" routerLink="/home">Go Back To Utility</button>
<div class="container">

    <div class="row">
        <div *ngFor="let objVal of objArray" style="padding: 10px">
            <hr />
            <label>{{obj[objVal].label}} input type ({{obj[objVal].inputType}}):&nbsp;</label>
            <br />
            <input [attr.type]="obj[objVal].inputType" [(ngModel)]="obj[objVal].value"
                placeholder="{{obj[objVal].label}}" (ngModelChange)="onChange($event)" />
        </div>
    </div>


    <div class="row">
        <div *ngFor="let objVal of obj2Array" style="padding: 10px">
            <hr />
            <label>Test Group:&nbsp;</label>
            <br />
            <input type="checkbox" [(ngModel)]="obj2[objVal]" (ngModelChange)="onChange($event)" />
        </div>
    </div>

    <hr />

    <div>
        {{ someInfo }}
    </div>

    <hr />

    <svg class="anim1" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox='0 0, 400, 200'>

        <polygon points="0 0, 0 200, 400 200, 400 0" [attr.fill]="polyObj.canvasColor.value" />

        <circle class="dot0-0" cx="200" cy="100" r="20" stroke="white" stroke-width="3" fill="white" />
        <circle class="circle1-1" cx="200" cy="100" r="70" stroke="white" stroke-width="3" fill="transparent" />
        <circle class="dot1-1" cx="200" cy="30" r="5" stroke="white" stroke-width="0" fill="white" />
        <polygon class="poly1-1" fill="transparent" stroke="#EFEFEF" stroke-width="3"
            points="200 2, 102 100, 200 198, 298 100" />


        <circle class="dot2-1" cx="200" cy="23" r="5" stroke="white" stroke-width="0" fill="white" />
        <circle class="circle2-1" cx="200" cy="100" r="77" stroke="white" stroke-width="3" fill="transparent" />
        <polygon class="poly2-1" fill="transparent" stroke="#EFEFEF" stroke-width="3"
            points="200 2, 106.79646140307496 69.71633455125516, 142.39704527533763 179.28366544874484, 257.60295472466237 179.28366544874484, 293.20353859692506 69.71633455125516" />

    </svg>

</div>
